<!DOCTYPE html>
<html>
<head>
  <title>Chart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true,:recursive => true %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <%= javascript_include_tag 'application', media: 'all' ,'data-turbolinks-track' => true,:recursive => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
