@import "base/vars.scss";
////////////////////////////////////////////////
/********* MODIFS GéNéRALES *******************/
////////////////////////////////////////////////

//// HTML / GENERAL
html, form, body{
    background-color: transparent!important;
}


//// HEADER
body > header{
    width: 100%;
    height: 50px;
    background-color: $main_color;
    box-shadow: 0px 5px 4px 0px rgba(101, 101, 101, 0.47);
}


//// NAV
nav{
    display: flex;
    height: 100%;
    color: $text_white;
    ul{
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        li{
          height: 100%;
          display: flex;
          align-items: center;
          flex: 1;



            a{
                height: 100%;
                text-decoration: none;
                color: $text_white;
                margin: 0 auto;
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                &:active{
                       background-color: $button_hover;
                   }
                &:hover{
                  background-color: $button_hover;
                  cursor: pointer;
                }
                &.active{
                       background-color: $button_hover;
                   }



            }
        }
    }
}
////// SECTION
section{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    &>article{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    &>header{
      text-align: center;
      width: 100%;
    }
  }
  #messageAlerte{
    width: 100%;
    color: red;
    margin-top: 15px;
  } 
}

/// media queries

@media screen and (max-width: 768px){
  //// HEADER
  body > header > nav {
    ul{
      width: 100%;
      a{
        padding: 0 15px;
      }
    }
  }
}
