// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/vars.scss";
@import "base/mixins.scss";



#places {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 800px;
  span{
    align-self: center;
    width: 200px;
    text-align: left;
  }
  h2{
    @include h2_pc;
    margin-bottom: 50px;
  }
  input{
    @include button;
    margin: 4px;
    &:hover{
    @include  button_hover;
    }
  }



  .place-info{
    justify-content: space-between;
    .placeName{
      flex: 4;
    }
    .modify{   
      input{
        @include button;
        color: #3F51B5;
        border-color: #3F51B5;
        margin: 4px;
        &:hover{
          @include  button_hover;
          background-color: #3F51B5;
        }
      }
    }
    .suppression{

      input{
        @include button;
        color: #FF5722;
        border-color: #FF5722;
        margin: 4px;
        &:before{
          content: "\f014";
        }

        &:hover{
          @include  button_hover;
          background-color: #FF5722;
        }
      }
    }
  }
  

  



}
#modif_places, #ajout_lieux{
  display: flex;
  margin-top: 100px;
  width: 800px;
  .new_place{
    margin-bottom: 40px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-around;
    .field{
      flex: 2;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
    }
    .actions{
      flex: 1;
      input{
        margin: 0;
        float: right;
      }
    }
  }
  h2{
    @include h2_pc;
    margin-bottom: 50px;
  }
  .button_to{
    justify-content: flex-end;
    width: 100%;
    display: flex;
    input{
      @include button;
      margin: 0px;
      &:hover{
      @include  button_hover;
      }
    }
  }
  .actions input{
    @include button;
    margin: 4px;
    border-color: #4CAF50;
    color: #4CAF50;
    &:hover{
      @include button_hover;
      background-color: #4CAF50;
    }
  } 

  
  .field input{
    border: none;
    border-bottom: 1px solid $main_color;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: auto;
  }
  .edit_place{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.place-info{
  display: flex;
  width: 100%;
}
.add_place{
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  input{
    width: 207px;
    
  }
  

}

@media screen and (max-width: 768px){
  section{
    max-width: 90%;
    margin: 0 auto;
  }
  #places{
    margin-top: 50px;
    width: 100%;
  }
  #modif_places, #ajout_lieux{
    .new_place{
      width: 100%;
    }
  }

}
