// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#places {
  flex-direction: column;
  align-items: center;
}
