// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "base/vars.scss";
@import "base/mixins.scss";




#connexion{

  margin-top: 150px;
  header{
    h2{
      @include h2_pc;
    }
  }
  form{
    display: flex;
    flex-wrap: wrap;
    fieldset{
      width: 100%;
      &.formValidate{
        text-align: right;
        width: 50%;
        input{
          @include button;
          &:hover{
            @include button_hover;
          }

        }
      }
      &.mdpOublie{
        width: 50%;
        text-align: left;
        label{
          color: $main_color;
        }
      }

    ol{
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      li{
        width: 100%;
        display: flex;
        justify-content: space-around;
        label{
          visibility: hidden;
          width: 0px;
        }
        input{
          width: 100%;
          height: 25px;
          height: 25px;
          border: none;
          border-bottom: 1px solid $main_color;
          color: $main_color;
          margin: 14px 0 25px 0;
        }
      }
    }
  }
  }
}
/// media queries

@media screen and (max-width: 768px){
  //// connexion
  section{
    max-width: 90%;
  }
  #connexion{
    margin-top: 50px;
  }

}
