// Place all the styles related to the Visits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bgColor : #e9ebee;

body,html{
  background-color: $bgColor;
}

canvas{
  background-color: #fff; 
}
center{
    background-color: green;
}