<section>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nom du lieu :</strong>
    <%= @place.name %>
  </p>

  <%= button_to 'Modifier', edit_place_path(@place), :method => "get" %>
  <%= button_to 'Retour à l\'index', places_path, :method => "get" %>
</section>
